<!DOCTYPE html>
<!-- views/partials/footer.ejs -->
<div class="container">
    <div class="footer-row">
        <h2>About</h2>
        <p class="about-text">kooKING <i>Eat like a king, all day long! </i> is a place where you will find easy ways to cook your daily meal,
            without compromising on quality.
            A teaspoon of crushed seeds adds a superb flavor to pastry mixes, ice cream,
            custards, and fruity sweet dishes (remove before serving).  Also great in
            tea, coffee, and mulled wine.
            Medicinal Uses: Cooling to the body, for bad breath, bronchitis, asthma,
            incontinency, as an aphrodisiac, and in digestive disorders, like indigestion,
            gas, cramps, helps make other herbs palatable.
        </p>
    </div>
    <div class="social-media-section">
        <ul>
            <li><a href="https://www.facebook.com/arjunkalidasm" class="facebook"><i class="fa fa-facebook fa-4x"></i></a></li>
            <li><a href="https://twitter.com/ArjunKalidas" class="twitter"><i class="fa fa-twitter fa-4x"></i></a></li>
            <li><a href="https://in.pinterest.com/arjunkalidas/" class="pinterest"><i class="fa fa-pinterest fa-4x"></i></a></li>
            <li><a href="https://www.instagram.com/arjunkalidas/" class="instagram"><i class="fa fa-instagram fa-4x"></i></a></li>
        </ul>
    </div>
</div>
<hr>
<div id="copyright-div">
    <p><a href="https://fontawesome.com/license">Icons: Creative Commons 4.0 License </a></p>
    <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by <a href="#">KooKING</a>.
    </p>
</div>
