<!DOCTYPE html>
<!-- views/partials/footer.ejs -->
<div class="container">
    <div class="footer-row">
        <h2>About</h2>
        <p class="about-text">ko͝oKING <i>Eat like a king, all day long! </i> is a place where you will find easy ways to cook your daily meal,
            without compromising on quality.
            I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add
            your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.
        </p>
    </div>
    <div class="social-media-section">
        <ul>
            <li><a class="facebook" href="#"><i class="fa fa-facebook-square fa-4x"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter-square fa-4x"></i></a></li>
            <li><a class="pinterest" href="#"><i class="fa fa-pinterest-square fa-4x"></i></a></li>
            <li><a class="instagram" href="#"><i class="fa fa-instagram fa-4x"></i></a></li>
        </ul>
    </div>
</div>
<hr>
<div id="copyright-div">
    <p><a href="https://fontawesome.com/license">Icons: CC BY 4.0 License </a> (https://creativecommons.org/licenses/by/4.0/)</p>
    <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by <a href="#">KooKING</a>.
    </p>
</div>