<!DOCTYPE html>
<!-- views/partials/header.ejs -->
<div id="holder">
    <div id="logo_holder">
        <a href="/index">
            <img class="logo_img" src="/assets/images/logo.png" alt="a red square with letters">
        </a>
    </div>

    <!-- The brand name and title phrase here -->
    <div class="title">
        <h1 id="banner_title">ko͝oKING</h1>
        <p>Eat like a king, all day long</p>
    </div>
    <div id="user-icon-holder">
        <div class="fa fa-user-circle fa-2x" id="user-icon"><p>Not Signed In</p></div>
    </div>
</div>