<!DOCTYPE html>
<!-- views/partials/user-navigation.ejs -->
<nav class="user_nav">
    <ul class="nav_menu">
        <li><a href="/index">Account</a>
            <ul class="dropdown_1">
                <li><a href="/index">Profile</a></li>
                <li><a href="/index">Wishlist</a></li>
                <li><a href="/index">Change Password</a></li>
            </ul>
        </li>
        <li>
            <a href="/myitems">My recipes</a>
        </li>
        <li>
            <a href="/index">Orders</a>
        </li>
        <li>
            <a href="/index">Cart</a>
        </li>
    </ul>
</nav>